/* line 1, accounts/static/scss/_login.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif; }

/* line 8, accounts/static/scss/_login.scss */
body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }
  /* line 15, accounts/static/scss/_login.scss */
  body img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    z-index: -1; }
  /* line 23, accounts/static/scss/_login.scss */
  body .flex-item {
    flex: 1; }
  /* line 26, accounts/static/scss/_login.scss */
  body .login-banner {
    position: relative; }
    /* line 28, accounts/static/scss/_login.scss */
    body .login-banner .login-banner__content {
      position: absolute;
      width: 100%;
      max-width: 550px;
      height: 500px;
      top: 50;
      left: 50;
      transform: translate(-50%, -50%);
      z-index: 2; }
  /* line 39, accounts/static/scss/_login.scss */
  body .user-form {
    background-color: #fff; }
