/* line 1, accounts/static/scss/_login.scss */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  /* line 7, accounts/static/scss/_login.scss */
  body .flex-item {
    flex: 1; }
  /* line 11, accounts/static/scss/_login.scss */
  body .login-banner .login-banner__content {
    width: 100%;
    max-width: 550px;
    height: 500px; }
