/* line 4, config/static/scss/base.scss */
.k-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }
  /* line 9, config/static/scss/base.scss */
  .k-input label {
    font-size: 16px;
    font-weight: 600;
    color: #404040;
    margin-bottom: 4px; }
  /* line 15, config/static/scss/base.scss */
  .k-input input {
    height: 42px;
    background-color: #ffffff;
    border: solid 1px #C6C6C6;
    border-radius: 4px; }
