/* line 3, config/static/scss/base.scss */
.k-label {
  font-size: 16px;
  font-weight: 500;
  color: #404040; }

/* line 9, config/static/scss/base.scss */
.k-input {
  height: 42px;
  background-color: #ffffff;
  border: solid 1px #C6C6C6;
  border-radius: 4px; }
