/* line 3, config/static/scss/base.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif; }

/* line 10, config/static/scss/base.scss */
html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  /* line 14, config/static/scss/base.scss */
  html .top-navigation, body .top-navigation {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
    border-bottom: solid 1px #cecece; }
    /* line 24, config/static/scss/base.scss */
    html .top-navigation .title, body .top-navigation .title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      /* line 29, config/static/scss/base.scss */
      html .top-navigation .title .kanban-desk-logo, body .top-navigation .title .kanban-desk-logo {
        width: 22px;
        height: 22px;
        margin-right: 8px; }
      /* line 34, config/static/scss/base.scss */
      html .top-navigation .title p, body .top-navigation .title p {
        font-size: 16px;
        font-weight: 600;
        color: #3AAFB9; }
    /* line 40, config/static/scss/base.scss */
    html .top-navigation .sign-out, body .top-navigation .sign-out {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      text-decoration: none;
      cursor: pointer; }
      /* line 47, config/static/scss/base.scss */
      html .top-navigation .sign-out img, body .top-navigation .sign-out img {
        height: 18px;
        margin-right: 8px; }
      /* line 51, config/static/scss/base.scss */
      html .top-navigation .sign-out p, body .top-navigation .sign-out p {
        font-size: 14px;
        color: #404040;
        white-space: nowrap; }
  /* line 58, config/static/scss/base.scss */
  html .main-window, body .main-window {
    position: relative;
    width: 100%;
    height: calc(100% - 46px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden; }
    /* line 68, config/static/scss/base.scss */
    html .main-window .general-sidebar, body .main-window .general-sidebar {
      min-width: 62px;
      height: 100%;
      background-color: #3AAFB9;
      padding: 60px 0; }
      /* line 74, config/static/scss/base.scss */
      html .main-window .general-sidebar ul li, body .main-window .general-sidebar ul li {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 12px 0;
        cursor: pointer; }
        /* line 83, config/static/scss/base.scss */
        html .main-window .general-sidebar ul li img, body .main-window .general-sidebar ul li img {
          width: 26px; }
      /* line 87, config/static/scss/base.scss */
      html .main-window .general-sidebar ul .active-item, body .main-window .general-sidebar ul .active-item {
        max-height: 52px;
        background-color: #75C8D1; }
        /* line 90, config/static/scss/base.scss */
        html .main-window .general-sidebar ul .active-item .item-white-bar, body .main-window .general-sidebar ul .active-item .item-white-bar {
          width: 6px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ffffff; }

/* line 104, config/static/scss/base.scss */
.main-window-padding {
  height: 100%;
  padding: 60px; }

/* line 109, config/static/scss/base.scss */
h2, h3, h6, p {
  color: #404040; }

/* line 113, config/static/scss/base.scss */
.modal-dialog {
  width: 700px;
  height: 100%;
  position: absolute;
  top: 0%;
  right: -700px;
  background-color: #ffffff;
  padding: 180px 40px 0 40px;
  box-shadow: -4px 0 6px 6px rgba(0, 0, 0, 0.1); }
  /* line 122, config/static/scss/base.scss */
  .modal-dialog form {
    width: 500px; }
    /* line 124, config/static/scss/base.scss */
    .modal-dialog form p {
      line-height: 1.8;
      margin-bottom: 15px; }
      /* line 127, config/static/scss/base.scss */
      .modal-dialog form p .bold {
        font-weight: 500; }

/* line 134, config/static/scss/base.scss */
.display-none {
  display: none; }

/* line 138, config/static/scss/base.scss */
.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch; }

@keyframes show-modal {
  0% {
    right: -700px; }
  100% {
    right: 0%; } }

@keyframes hide-modal {
  0% {
    right: 0%; }
  100% {
    right: -700px; } }

/* line 163, config/static/scss/base.scss */
.show-modal {
  animation: show-modal 500ms ease forwards; }

/* line 167, config/static/scss/base.scss */
.hide-modal {
  animation: hide-modal 500ms ease forwards; }
