/* line 3, config/static/scss/base.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif; }

/* line 11, config/static/scss/base.scss */
.k-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px; }
  /* line 18, config/static/scss/base.scss */
  .k-input label {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    margin-bottom: 4px; }
  /* line 24, config/static/scss/base.scss */
  .k-input input {
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    padding: 0 10px;
    border: solid 1px #C6C6C6;
    border-radius: 4px; }
  /* line 32, config/static/scss/base.scss */
  .k-input input::placeholder {
    color: #C6C6C6; }
  /* line 35, config/static/scss/base.scss */
  .k-input textarea {
    width: 100%;
    max-width: 500px;
    height: 126px;
    max-height: 252px;
    resize: vertical;
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #C6C6C6;
    border-radius: 4px; }

/* line 48, config/static/scss/base.scss */
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px; }

/* line 56, config/static/scss/base.scss */
.full-width {
  width: 100%; }

/* line 60, config/static/scss/base.scss */
.k-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 24px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer; }

/* line 70, config/static/scss/base.scss */
.teal-btn {
  color: #ffffff;
  background-color: #3AAFB9; }

/* line 75, config/static/scss/base.scss */
.teal-flat-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #3AAFB9;
  background-color: transparent;
  cursor: pointer; }

/* line 84, config/static/scss/base.scss */
.danger-btn {
  color: #ffffff;
  background-color: #CC2629; }

/* line 91, config/static/scss/base.scss */
.main-window-padding {
  padding: 60px 0 0 60px; }

/* line 95, config/static/scss/base.scss */
.modal-position-relative {
  position: relative;
  overflow: hidden; }

/* line 100, config/static/scss/base.scss */
.modal-dialog {
  width: 700px;
  height: 100%;
  position: absolute;
  top: 0%;
  right: -700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: -4px 0 6px 6px rgba(0, 0, 0, 0.1); }

@keyframes show-modal {
  0% {
    right: -700px; }
  100% {
    right: 0; } }

/* line 119, config/static/scss/base.scss */
.show-modal {
  animation: show-modal 500ms ease forwards; }
