/* line 3, config/static/scss/base.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif; }

/* line 10, config/static/scss/base.scss */
html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

/* line 16, config/static/scss/base.scss */
.main-window {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch; }
  /* line 23, config/static/scss/base.scss */
  .main-window .project-window {
    position: relative;
    max-width: calc(100% - 62px);
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden; }

/* line 36, config/static/scss/base.scss */
.main-window-padding {
  padding: 60px 60px 0 60px; }

/* line 40, config/static/scss/base.scss */
h2, h3, h6, p {
  color: #404040; }

/* line 45, config/static/scss/base.scss */
.k-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px; }
  /* line 52, config/static/scss/base.scss */
  .k-input label {
    font-size: 16px;
    font-weight: 500;
    color: #404040;
    margin-bottom: 4px; }
  /* line 58, config/static/scss/base.scss */
  .k-input input {
    width: 100%;
    height: 42px;
    background-color: #ffffff;
    padding: 0 10px;
    border: solid 1px #C6C6C6;
    border-radius: 4px; }
  /* line 66, config/static/scss/base.scss */
  .k-input input::placeholder {
    color: #C6C6C6; }
  /* line 69, config/static/scss/base.scss */
  .k-input textarea {
    width: 100%;
    max-width: 500px;
    height: 126px;
    resize: none;
    background-color: #ffffff;
    padding: 10px;
    border: solid 1px #C6C6C6;
    border-radius: 4px; }

/* line 81, config/static/scss/base.scss */
.btn-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-top: 15px; }

/* line 90, config/static/scss/base.scss */
.full-width {
  width: 100%;
  margin: 0; }

/* line 95, config/static/scss/base.scss */
.sm-btn-margin {
  margin-left: 10px; }

/* line 99, config/static/scss/base.scss */
.k-btn {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 24px;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  cursor: pointer; }

/* line 109, config/static/scss/base.scss */
.cancel-btn {
  color: #808080;
  background-color: #EAEEF0; }

/* line 114, config/static/scss/base.scss */
.teal-btn {
  color: #ffffff;
  background-color: #3AAFB9; }

/* line 119, config/static/scss/base.scss */
.teal-flat-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #3AAFB9;
  background-color: transparent;
  cursor: pointer; }

/* line 128, config/static/scss/base.scss */
.danger-btn {
  color: #ffffff;
  background-color: #CC2629; }

/* line 133, config/static/scss/base.scss */
.modal-position-relative {
  position: relative;
  overflow: hidden; }
