/* line 3, accounts/static/scss/login.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif; }

/* line 10, accounts/static/scss/login.scss */
h2, h3, h6, p {
  color: #404040; }

/* line 14, accounts/static/scss/login.scss */
html {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  /* line 18, accounts/static/scss/login.scss */
  html body {
    width: 100%;
    height: 100%;
    overflow: hidden; }
    /* line 22, accounts/static/scss/login.scss */
    html body .banner-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      z-index: -1; }
    /* line 30, accounts/static/scss/login.scss */
    html body .page-flex {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch; }
      /* line 38, accounts/static/scss/login.scss */
      html body .page-flex .login-banner {
        position: relative;
        flex: 1; }
        /* line 41, accounts/static/scss/login.scss */
        html body .page-flex .login-banner .content {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          max-width: 520px;
          height: 500px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.12);
          padding: 80px 50px;
          z-index: 2; }
          /* line 56, accounts/static/scss/login.scss */
          html body .page-flex .login-banner .content .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            color: #ffffff; }
            /* line 63, accounts/static/scss/login.scss */
            html body .page-flex .login-banner .content .title .kanban-desk-logo {
              width: 55px;
              height: 55px;
              margin-right: 20px; }
            /* line 68, accounts/static/scss/login.scss */
            html body .page-flex .login-banner .content .title h1 {
              font-size: 52px; }
              /* line 70, accounts/static/scss/login.scss */
              html body .page-flex .login-banner .content .title h1 .primary-black {
                color: #404040; }
          /* line 75, accounts/static/scss/login.scss */
          html body .page-flex .login-banner .content .by {
            font-size: 26px;
            font-weight: 600; }
            /* line 78, accounts/static/scss/login.scss */
            html body .page-flex .login-banner .content .by p {
              line-height: 1.4; }
          /* line 82, accounts/static/scss/login.scss */
          html body .page-flex .login-banner .content .note-to-employers {
            font-size: 16px;
            font-weight: 500; }
            /* line 85, accounts/static/scss/login.scss */
            html body .page-flex .login-banner .content .note-to-employers p {
              color: #ffffff;
              margin: 4px 0;
              line-height: 1.4; }
              /* line 89, accounts/static/scss/login.scss */
              html body .page-flex .login-banner .content .note-to-employers p .guest-user {
                color: #404040;
                font-weight: 600; }
      /* line 97, accounts/static/scss/login.scss */
      html body .page-flex .login-form {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #ffffff;
        box-shadow: -4px 0 6px 6px rgba(0, 0, 0, 0.1); }
        /* line 104, accounts/static/scss/login.scss */
        html body .page-flex .login-form .auth-form {
          width: 360px;
          margin-left: 60px; }
          /* line 107, accounts/static/scss/login.scss */
          html body .page-flex .login-form .auth-form .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 40px; }
            /* line 114, accounts/static/scss/login.scss */
            html body .page-flex .login-form .auth-form .title .kanban-desk-logo {
              width: 24px;
              height: 24px;
              margin-right: 10px; }
            /* line 119, accounts/static/scss/login.scss */
            html body .page-flex .login-form .auth-form .title h6 {
              font-size: 22px; }
          /* line 123, accounts/static/scss/login.scss */
          html body .page-flex .login-form .auth-form h2 {
            color: #404040;
            margin-bottom: 30px; }
          /* line 127, accounts/static/scss/login.scss */
          html body .page-flex .login-form .auth-form .form-error {
            font-size: 12px;
            color: #CC2629; }
          /* line 131, accounts/static/scss/login.scss */
          html body .page-flex .login-form .auth-form .sign-in-btn {
            margin: 15px 0 5px 0; }
          /* line 134, accounts/static/scss/login.scss */
          html body .page-flex .login-form .auth-form .guest-user-btn {
            margin: 5px 0; }
          /* line 137, accounts/static/scss/login.scss */
          html body .page-flex .login-form .auth-form .or-divider {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #C6C6C6;
            margin: 15px 0; }
            /* line 145, accounts/static/scss/login.scss */
            html body .page-flex .login-form .auth-form .or-divider p {
              font-size: 12px;
              margin: 0 20px; }
            /* line 149, accounts/static/scss/login.scss */
            html body .page-flex .login-form .auth-form .or-divider div {
              width: 100%;
              flex: 1;
              height: 1px;
              background-color: #C6C6C6; }
