/* line 3, config/static/scss/navigation.scss */
body {
  min-height: 700px;
  height: 100vh; }
  /* line 6, config/static/scss/navigation.scss */
  body nav {
    width: 100vw;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 0 20px;
    border-bottom: solid 1px #C6C6C6; }
    /* line 16, config/static/scss/navigation.scss */
    body nav .title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      /* line 21, config/static/scss/navigation.scss */
      body nav .title .kanban-desk-logo {
        width: 22px;
        height: 22px;
        margin-right: 8px; }
      /* line 26, config/static/scss/navigation.scss */
      body nav .title p {
        font-size: 16px;
        font-weight: 600;
        color: #3AAFB9; }
    /* line 32, config/static/scss/navigation.scss */
    body nav .sign-out {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      /* line 37, config/static/scss/navigation.scss */
      body nav .sign-out img {
        height: 20px;
        margin-right: 8px; }
      /* line 41, config/static/scss/navigation.scss */
      body nav .sign-out p {
        font-size: 14px;
        color: #404040;
        white-space: nowrap; }
  /* line 49, config/static/scss/navigation.scss */
  body main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap; }
    /* line 56, config/static/scss/navigation.scss */
    body main .general-sidebar {
      width: 62px;
      height: 100%;
      background-color: #3AAFB9;
      padding: 60px 0; }
      /* line 62, config/static/scss/navigation.scss */
      body main .general-sidebar ul li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        padding: 12px 0; }
        /* line 69, config/static/scss/navigation.scss */
        body main .general-sidebar ul li img {
          width: 26px; }
    /* line 75, config/static/scss/navigation.scss */
    body main .main-window {
      padding: 60px 0 0 40px; }
