/* line 3, project/static/scss/project.scss */
.page-title {
  color: #404040;
  margin-bottom: 2px; }

/* line 8, project/static/scss/project.scss */
.page-title-detail {
  color: #7c7c7c;
  margin-bottom: 30px; }

/* line 13, project/static/scss/project.scss */
form {
  width: 500px; }

/* line 17, project/static/scss/project.scss */
.project-view-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }
  /* line 23, project/static/scss/project.scss */
  .project-view-page .project-sidebar {
    min-width: 240px;
    max-width: 240px;
    height: 100%;
    background-color: #F0F2F4;
    padding: 60px 20px; }
    /* line 29, project/static/scss/project.scss */
    .project-view-page .project-sidebar .title {
      font-size: 14px;
      font-weight: 600;
      color: #818181;
      margin-bottom: 12px; }
    /* line 36, project/static/scss/project.scss */
    .project-view-page .project-sidebar ul li {
      list-style-type: none;
      padding: 8px 15px;
      border-radius: 2px;
      cursor: pointer; }
      /* line 41, project/static/scss/project.scss */
      .project-view-page .project-sidebar ul li a {
        color: #808080;
        text-decoration: none; }
    /* line 46, project/static/scss/project.scss */
    .project-view-page .project-sidebar ul li:hover:not(.active-item) {
      background-color: #DFE1E3; }
    /* line 49, project/static/scss/project.scss */
    .project-view-page .project-sidebar ul .active-item {
      background-color: #DFEAEB; }
      /* line 51, project/static/scss/project.scss */
      .project-view-page .project-sidebar ul .active-item a {
        color: #3AAFB9; }
  /* line 58, project/static/scss/project.scss */
  .project-view-page .project-window {
    flex: 1; }
    /* line 60, project/static/scss/project.scss */
    .project-view-page .project-window .project-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px; }
    /* line 65, project/static/scss/project.scss */
    .project-view-page .project-window .project-navigation {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: solid 1px #F0F2F4;
      margin-bottom: 40px; }
      /* line 72, project/static/scss/project.scss */
      .project-view-page .project-window .project-navigation li {
        position: relative;
        list-style-type: none;
        padding: 10px 0; }
        /* line 76, project/static/scss/project.scss */
        .project-view-page .project-window .project-navigation li a {
          color: #707070;
          text-decoration: none; }
        /* line 80, project/static/scss/project.scss */
        .project-view-page .project-window .project-navigation li .teal-line {
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0; }
      /* line 87, project/static/scss/project.scss */
      .project-view-page .project-window .project-navigation li:first-child {
        margin-right: 20px; }
      /* line 91, project/static/scss/project.scss */
      .project-view-page .project-window .project-navigation .active-item a {
        color: #3AAFB9; }
      /* line 94, project/static/scss/project.scss */
      .project-view-page .project-window .project-navigation .active-item .teal-line {
        width: 100%;
        height: 4px;
        background-color: #3AAFB9; }
    /* line 101, project/static/scss/project.scss */
    .project-view-page .project-window .settings-section {
      width: 500px;
      margin-bottom: 40px; }
      /* line 104, project/static/scss/project.scss */
      .project-view-page .project-window .settings-section .title {
        font-size: 20px;
        padding-bottom: 6px;
        margin-bottom: 30px;
        border-bottom: solid 1px #F0F2F4; }
      /* line 110, project/static/scss/project.scss */
      .project-view-page .project-window .settings-section .delete-section {
        display: flex;
        justify-content: space-between;
        align-items: center; }
