/* line 3, accounts/static/scss/user_settings.scss */
.user-settings-page {
  width: 500px; }
  /* line 5, accounts/static/scss/user_settings.scss */
  .user-settings-page .page-title {
    color: #404040;
    margin-bottom: 2px; }
  /* line 9, accounts/static/scss/user_settings.scss */
  .user-settings-page .page-title-detail {
    color: #7c7c7c;
    margin-bottom: 30px; }
  /* line 14, accounts/static/scss/user_settings.scss */
  .user-settings-page .user-info .row {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #C6C6C6; }
