/* line 3, accounts/static/scss/user_settings.scss */
.user-settings-page {
  width: 500px; }
  /* line 6, accounts/static/scss/user_settings.scss */
  .user-settings-page .user-info .row {
    height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #C6C6C6; }
    /* line 13, accounts/static/scss/user_settings.scss */
    .user-settings-page .user-info .row p:last-child {
      font-weight: 500; }
  /* line 17, accounts/static/scss/user_settings.scss */
  .user-settings-page .user-info .row:last-child {
    margin-bottom: 25px; }
