<!-- templates/registration/login.html -->
{% extends 'registration/login_base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="auth-form">
    <section class="title primary-teal">
      <img class="kanban-desk-logo" src="{% static 'img/kanban-logo-teal.svg' %}" alt="kanban-logo.svg">
      <h6>Kanban Desk</h6>
    </section>
    <h2>Sign In</h2>
    <form method="post">
      {% csrf_token %}
      <p class="k-input">
        <label for="id_username">Username</label>
        <input type="text" name="username"placeholder="Username" maxlength="150" required id="id_username" autofocus>
      </p>
      <p class="k-input">
        <label for="id_password">Password</label>
        <input type="password" name="password" placeholder="Password" required id="id_password">
      </p>
      <button class="sign-in-btn k-btn teal-btn full-width" type="submit">Sign In</button>
      <div class="or-divider">
        <div></div>
        <p>or</p>
        <div></div>
      </div>
      <button class="guest-user-btn k-btn teal-btn full-width" type="submit">Sign In as Guest User</button>
      <a class="k-btn teal-flat-btn full-width" href="{% url 'accounts:signup' %}">Create Account</a>
    </form>
  </div>
{% endblock %}