<!-- templates/registration/login_base.html -->
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  {% load compress %}

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/base.scss' %}" />
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/_login.scss' %}" />
  {% endcompress %}
  <meta charset="utf-8">
  <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
</head>  
<body>
  <img class="banner-img" src="{% static 'img/login-banner.png' %}" alt="login-banner.png">
  <div class="login-banner flex-item">
    <div class="content">
      <section class="title primary-white">
        <img class="kanban-desk-logo" src="{% static 'img/kanban-logo-white.svg' %}" alt="kanban-logo.svg">
        <h1>Kanban <span class="primary-black">Desk</span></h1>
      </section>
      <section class="by primary-white">
        <p>A Project Management Tool</p>
        <p>by <span class="primary-black">Christina Punla</span></p>
      </section>
      <section class="note-to-employers primary-white">
        <p>Employers,</p>
        <p>Please sign in using the <span style="font-weight: 600;" class="primary-black">Guest User</span> account if you</p>
        <p>do not wish to create your own account.</p>
      </section>
    </div>
  </div>
  <div class="login-background flex-item">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>