@import "../../../static/scss/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif
}

h2, h3, h6, p {
  color: $primary-black-color;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    .banner-img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      z-index: -1;
    }
    .page-flex {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      .login-banner {
        position: relative;
        flex: 1;
        .content {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          width: 100%;
          max-width: 520px;
          height: 500px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.12);
          padding: 80px 50px;
          z-index: 2;
          .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            color: $primary-white-color;
            .kanban-desk-logo {
              width: 55px;
              height: 55px;
              margin-right: 20px;
            }
            h1 {
              font-size: 52px;
              .primary-black {
                color: $primary-black-color;
              }
            }
          }
          .by {
            font-size: 26px;
            font-weight: 600;
            p {
              line-height: 1.4;
            }
          }
          .note-to-employers {
            font-size: 16px;
            font-weight: 500;
            p {
              color: $primary-white-color;
              margin: 4px 0;
              line-height: 1.4;
              .guest-user {
                color: $primary-black-color;
                font-weight: 600;
              }
            }
          }
        }
      }
      .login-form {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $primary-white-color;
        box-shadow: -4px 0 6px 6px rgba(0,0,0,0.10);
        .auth-form {
          width: 360px;
          margin-left: 60px;
          .title {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 40px;
            .kanban-desk-logo {
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }
            h6 {
              font-size: 22px;
            }
          }
          h2 {
            color: $primary-black-color;
            margin-bottom: 30px;
          }
          .form-error {
            font-size: 12px;
            color: $high-color;
          }
          .sign-in-btn {
            margin: 15px 0 5px 0;
          }
          .guest-user-btn {
            margin: 5px 0;
            a {
              color: $primary-white-color;
              text-decoration: none;
            }
          }
          .or-divider {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: #C6C6C6;
            margin: 15px 0;
            p {
              font-size: 12px;
              margin: 0 20px;
            }
            div {
              width: 100%;
              flex: 1;
              height: 1px; 
              background-color: #C6C6C6;
            }
          }
        }
      }
    }
  }
}

