$primary-white-color: #ffffff;
$primary-black-color: #404040;
$primary-teal-color: #3AAFB9;
$primary-danger-color: #CC2629;
$nav-hover-teal-color: #75C8D1;
$high-color: #CC2629;
$high-bgcolor: #FFC5CB;
$medium-color: #F37016;
$medium-bgcolor: #FFDCAB;
$low-color: #30843A;
$low-bgcolor: #C0E3C3;