<!-- accounts/templates/login_base.html -->
<!DOCTYPE html>
<html>
<head>
  {% load static %}
  {% load compress %}

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/login.scss' %}" />
  <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/forms.scss' %}" />
  {% endcompress %}

  <link rel="icon" type="image/png" href="{% static 'img/kanban-logo-teal.svg' %}">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <title>{% block title %}Kanban Desk{% endblock %}</title>
</head>  
<body>
  <img class="banner-img" src="{% static 'img/login-banner.png' %}" alt="login-banner.png">
  <div class="page-flex">
    <div class="login-banner">
      <div class="content">
        <section class="title">
          <img class="kanban-desk-logo" src="{% static 'img/kanban-logo-white.svg' %}" alt="kanban-logo.svg">
          <h1>Kanban <span class="primary-black">Desk</span></h1>
        </section>
        <section class="by">
          <p>A Project Management Tool</p>
          <p>by <span class="primary-black">Christina Punla</span></p>
        </section>
        <section class="note-to-employers">
          <p>Sign in as <span class="guest-user">Guest User</span> if you do not wish to create your own account. Note that all projects by Guest User are deleted after each session.</p>
        </section>
      </div>
    </div>
    <div class="login-form">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>